<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Welcome to My Awesome App!</h1>
  <p>Dear <%= @user.first_name %>,</p>
  <p>Thank you for joining our app. We're excited to have you on board!</p>
  <!-- Customize the email content as desired -->
</body>
</html>